:root {
  --c-brand: #fd9222;
  --c-primery: #111;
  --c-primery-light: #fff;
  --c-background: #1e1823;
  --c-background-light: #fafafa;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* Body */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--c-primery);
  background-color: var(--c-background-light);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.adventages-section,
.taste-section,
.made-section,
.products-section,
.sellers-section,
.love-section,
.acquaintance-section {
  margin: 32px 100px;
}

/* Header */

.header {
  padding-bottom: 8px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--c-primery);
}

.logo-span {
  font-style: italic;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.14;
  color: var(--c-primery);
}

.nav-link:hover {
  color: var(--c-brand);
}

.header-socials {
  display: flex;
  gap: 18px;
}

/* Section Hero */

.hero-section {
  padding-bottom: 72px;
}

.hero-inner {
  padding: 380px 40px 40px;
  border-radius: 30px;
  background-color: var(--c-background);
  /* background-image: url(../images/chocolate-main-pic.jpg); */
  /* background-size: 1136px; */
  /* background-repeat: no-repeat; */
  /* background-position: 50% 50%; */
}

.hero-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--c-primery-light);
  margin-bottom: 32px;
  margin-left: 40px;
  max-width: 484px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 14px;
}

.button-primery {
  font-weight: 600;
  color: var(--c-primery-light);
  background-color: var(--c-brand);
  border: none;
  cursor: pointer;
  border-radius: 100px;
  padding: 14px 40px;
  line-height: 1.21;
  margin-left: 40px;
}

.button-primery:hover,
.button-primery:focus {
  color: var(--c-brand);
  background-color: #fcf1e0;
}

.button-secondary {
  font-weight: 600;
  color: var(--c-primery-light);
  padding: 14px 40px;
  border: 1px solid var(--c-primery-light);
  cursor: pointer;
  border-radius: 100px;
  line-height: 1.28;
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--c-brand);
  background-color: var(--c-primery-light);
  border: 1px solid var(--c-brand);
}

.hero-scroll {
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--c-primery-light);
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: var(--c-brand);
}

.hero-scroll img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--c-primery-light);
}

/* Section Adventages */

.adventages-section {
  background-color: var(--c-background);
  padding: 50px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adventages-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.adventages-list {
  display: flex;
  justify-content: space-between;
}

.adventages-list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--c-primery-light);
  margin-bottom: 18px;
}

.adventages-item-text {
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
  max-width: 308px;
}

/* Section Taste */

.taste-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 411px;
  margin: 0 auto 28px;
}

.span-title {
  color: var(--c-brand);
}

.taste-text {
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px;
}

.taste-list {
  display: flex;
  justify-content: space-between;
}

.taste-list li {
  padding: 28px 36px 28px 28px;
}

.taste-list img {
  margin-bottom: 36px;
}

.taste-list h3 {
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.taste-item-milk-choco {
  border-radius: 15px;
  color: var(--c-primery-light);
  background-color: var(--c-brand);
}

.taste-item-milk,
.taste-item-sweet-choco {
  border-radius: 15px;
  border: 1px solid var(--c-brand);
}

.taste-item-nuts {
  border-radius: 15px;
  color: var(--c-primery-light);
  background-color: var(--c-primery);
}

/* Section Made */

.made-section {
  display: flex;
  justify-content: center;
}

.made-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}

.made-span {
  color: var(--c-brand);
}

.background-for-button {
  background-image: url(../images/made-pic.jpg);
  background-size: 600px 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.made-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
}

.made-list {
  list-style-type: disc;
}

.made-item {
  margin-bottom: 24px;
}

/* Section Products */

.products-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}

.products-span {
  color: var(--c-brand);
}

.products-item {
  background-color: var(--c-primery-light);
}

.products-item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
}

.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
}

.button-products {
  font-weight: 600;
  padding: 8px 20px;
  background-color: var(--c-primery-light);
  border: 1px solid rgba(17, 17, 17, 0.1);
  cursor: pointer;
  border-radius: 100px;
  line-height: 1.28;
}

/* Section Sellers */

.sellers-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}

.sellers-span {
  color: var(--c-brand);
}

/* Section Love */

.love-tille {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}

.love-span {
  color: var(--c-brand);
}

.love-item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.love-item-text {
  color: rgba(17, 17, 17, 0.7);
}

.button-third {
  font-size: 18px;
  font-weight: 600;
  background: var(--c-primery-light);
  border: 1px solid var(--c-brand);
  cursor: pointer;
  border-radius: 100px;
  padding: 14px 40px;
  line-height: 1.28;
}

.button-third:hover,
.button-third:focus {
  color: var(--c-primery-light);
  background-color: var(--c-brand);
}

/* Section Acquaintance */

.acquaintance-section {
  background: url(../images/subcribe.jpg);
}

.acquaintance-title {
  color: var(--c-primery-light);
  background-color: var(--c-primery);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.acquaintance-text {
  color: var(--c-primery-light);
  background-color: var(--c-primery);
}

/* Footer */

footer {
  color: var(--c-primery-light);
  background-color: var(--c-background);
}

.footer-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
}

.footer-span {
  color: var(--c-brand);
}

.address-text {
  font-weight: 500;
  font-style: normal;
  line-height: 1.28;
}

.contacts {
  font-style: normal;
  line-height: 1.28;
  color: var(--c-primery-light);
}

.footer-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--c-primery-light);
}

.footer-link:hover {
  color: var(--c-brand);
}
