:root {
  --c-brand: #fd9222;
  --c-primery: #111;
  --c-primery-light: #fff;
  --c-background: #1e1823;
  --c-background-light: #fafafa;
}

/* Body */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--c-primery);
  background-color: var(--c-background-light);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* Header */

.logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--c-primery);
}

.logo-span {
  font-style: italic;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--c-primery);
}

.header-link:hover {
  color: var(--c-brand);
}

/* Section Hero */

.hero-section {
  background-color: var(--c-background);
}

.hero-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--c-primery-light);
}

.button-primery {
  font-weight: 600;
  color: var(--c-primery-light);
  background-color: var(--c-brand);
  border: none;
  cursor: pointer;
  border-radius: 100px;
  padding: 14px 40px;
  line-height: 1.21;
}

.button-primery:hover,
.button-primery:focus {
  color: var(--c-brand);
  background-color: #fcf1e0;
}

.button-secondary {
  font-weight: 600;
  color: var(--c-primery-light);
  padding: 14px 40px;
  border: 1px solid var(--c-primery-light);
  cursor: pointer;
  border-radius: 100px;
  line-height: 1.28;
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--c-brand);
  background-color: var(--c-primery-light);
  border: 1px solid var(--c-brand);
}

.hero-scroll {
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--c-primery-light);
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: var(--c-brand);
}

/* Section Adventages */

.adventages-section {
  background-color: var(--c-background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adventages-list-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--c-primery-light);
}

.adventages-item-text {
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
}

/* Section Taste */

.taste-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.span-title {
  color: var(--c-brand);
}

.taste-list {
  display: flex;
}

.taste-list h3 {
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.taste-item-milk-choco {
  border-radius: 15px;
  background-color: var(--c-brand);
}

.taste-item-milk-choco {
  color: var(--c-primery-light);
}

.taste-item-milk,
.taste-item-sweet-choco {
  border-radius: 15px;
  border: 1px solid var(--c-brand);
}

.taste-item-nuts {
  background-color: var(--c-primery);
}

.taste-item-nuts {
  border-radius: 15px;
  color: var(--c-primery-light);
}

/* Section Made */

.made-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.made-span {
  color: var(--c-brand);
}

.made-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.made-list {
  list-style-type: disc;
}

/* Section Products */

.products-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.products-span {
  color: var(--c-brand);
}

.products-item {
  background-color: var(--c-primery-light);
}

.products-item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
}

.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
}

.button-products {
  font-weight: 600;
  padding: 8px 20px;
  background-color: var(--c-primery-light);
  border: 1px solid rgba(17, 17, 17, 0.1);
  cursor: pointer;
  border-radius: 100px;
  line-height: 1.28;
}

/* Section Sellers */

.sellers-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.sellers-span {
  color: var(--c-brand);
}

/* Section Love */

.love-tille {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.love-span {
  color: var(--c-brand);
}

.love-item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.love-item-text {
  color: rgba(17, 17, 17, 0.7);
}

.button-third {
  font-size: 18px;
  font-weight: 600;
  background: var(--c-primery-light);
  border: 1px solid var(--c-brand);
  cursor: pointer;
  border-radius: 100px;
  padding: 14px 40px;
  line-height: 1.28;
}

.button-third:hover,
.button-third:focus {
  color: var(--c-primery-light);
  background-color: var(--c-brand);
}

/* Section Acquaintance */

.acquaintance-title {
  color: var(--c-primery-light);
  background-color: var(--c-primery);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.acquaintance-text {
  color: var(--c-primery-light);
  background-color: var(--c-primery);
}

/* Footer */

footer {
  color: var(--c-primery-light);
  background-color: var(--c-background);
}

.footer-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
}

.footer-span {
  color: var(--c-brand);
}

.address-text {
  font-weight: 500;
  font-style: normal;
  line-height: 1.28;
}

.contacts {
  font-style: normal;
  line-height: 1.28;
  color: var(--c-primery-light);
}

.footer-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--c-primery-light);
}

.footer-link:hover {
  color: var(--c-brand);
}
